header {
  	width: 100%;
	display: table;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.project > a:hover,
.project a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 7px;
}

.navbar-brand {
  line-height: 10px;
}
