.form-signin {
    max-width: 300px;
 	padding: 19px 29px 29px;
  	margin: 0 auto 20px;
 	background-color: #fff;
 }

 .form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	padding: 7px 9px;
 }