#header {
	height: 126px;
	background-image:url(../img/bg.gif);
	background-repeat:no-repeat;
	
}

#location{
	
	margin-top:30px;
	margin-left:100px;
	
}
#gor-menu{
	width:494px;
	height:72px;
	background-image:url(../img/bg-menu.gif);
	float:right;
	margin-top:-65px;
	
	}

#logo{
	background-image:url(../img/logo1.png);
	width:285px;
	height:104px;
	}

	
