<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-mvc-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc/web/Web" />
    </root>
  </artifact>
</component>